html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}

.blinking {
  animation: 1s blink infinite;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
